{% with errors = get_flashed_messages(category_filter=["error"]) %}
<ul id="errors" {{ 'data-hx-swap-oob="true"' if htmx_err else '' }}>
{% if errors %}
  {% for err in errors %}
  <li>{{ err }}</li>
  {% endfor %}
{% endif %}
{% endwith %}
</ul>
