<main id="main"
  data-hx-swap-oob="true"
  data-hx-boost="true"
  data-hx-swap="none"
>
  {% include "errors.j2" %}

  <form
    data-hx-push-url="false"
    action="{{ url_for("interface.step", page=1) }}" method="POST"
  >
    <label>Word to match:
      <input name="word" />
    </label>
    <label>Mutation rate:
      <input type="number" name="mutation" />
    </label>
    <input type="submit" value="Send" />
  </form>
</main>
