<main id="main"
  data-hx-swap-oob="true"
  data-hx-boost="true"
  data-hx-swap="none"
>
  {% if found %}
  <p>Word <em>{{ word }}</em> found.</p>
  <p>Final mutation rate: <em>{{ mutation }}</em></p>
  <p>Final population: <em>{{ population }}</em></p>
  {% else %}
  <p>Word we're looking for: <em>{{ word }}</em></p>
  <p>Current mutation rate: <em>{{ mutation }}</em></p>
  <p>Current population: <em>{{ population }}</em></p>
  {% endif %}

  <h2>Seed log #{{ page }}</h2>
  <table>
    {% for row in log %}
    <tr>
      {% for val in row %}
      <td>{{ val }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <h2>Steps</h2>
  <ul>
    {% for p in range(1, pages+1) %}
    <li>
      {% if p != page %}
      <a href="{{ url_for("interface.step", page=p) }}">{{ p }}</a>
      {% else %}
      <em>{{ p }}</em>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  {% if not found %}
  <form
    data-hx-push-url="false"
    action="{{ url_for("interface.step", page=page+1) }}"
    method="POST"
  >
    <input type="submit" value="Next step" />
  </form>
  {% endif %}

  <a href="{{ url_for("interface.root") }}">Start over</a>
</main>
